.error-text-login {
  color: red;
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.7rem;
}

.text-error{
  color:red;
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.7rem;
}
.add {
  max-width: 150px;
  display: flex;
  input {
    width: 100% !important;
    // border: none;
    text-align: center;
  }
  button {
    background-color: #f9f9f9;
    border: solid 1px #cccccc;
    width: 30px;
    text-align: center;
    outline: none;
  }
}